# Django核心
Django==4.2.8
asgiref==3.7.2

# 数据库
PyMySQL==1.1.0
sqlparse==0.4.4

# REST框架
djangorestframework==3.14.0
django-filter==23.5

# 加密和安全
cryptography==42.0.5
cffi==1.16.0
pycparser==2.21

# 工具包
pytz==2023.3.post1
typing_extensions==4.9.0
